@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --mainBg: #f5f8fc;
    --primaryColor: #1ca5e8;
    --secondColor: #fff;
    --outerCircle: #0b8dcd;
    --textColor: #202020;

    --transition-4: all 0.4s ease;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--mainBg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    height: 65%;
    width: 53%;
    padding: 25px;
    display: flex;
    gap: 25px;
    background-color: var(--secondColor);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

/* Left Side */
.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.title-app {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 700;
}

.top-text {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 800;
}

.small-text {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.group-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.group-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-field {
    height: 40px;
    width: 85%;
    display: flex;
    align-items: center;
    align-self: center;
    gap: 10px;
    padding: 0 15px;
    border: 1px solid var(--textColor);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.input-field i {
    font-size: 20px;
}

.input-field input {
    width: 100%;
    height: 100%;
    padding: 6px;
    border: none;
    outline: none;
}

.input-field.input-validation {
    border: 1px solid #dc3545;
}

.input-field.input-validation i {
    color: #dc3545;
}

.input-field.input-validation.shake {
    animation: shake .3s ease-in-out infinite;
    -webkit-animation: shake .3s ease-in-out infinite;
}

@keyframes shake {
    0%, 100% {
        margin-left: 0;
    }
    20%, 80% {
        margin-left: -8px;
    }
    40%, 60% {
        margin-left: 8px;
    }
}

.input-field.after-validation {
    border: 1px solid #198754;
}

.input-field.after-validation i {
    color: #198754;
}

::placeholder {
    color: var(--textColor);
}

:-ms-input-placeholder {
    color: var(--textColor);
}

::-ms-input-placeholder {
    color: var(--textColor);
}

.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:hover,
.input-group input:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px white inset;
}

small#usernameError {
    margin-left: 28px;
    margin-top: 6px;
    color: #dc3545;
}

small#passwordError {
    margin-left: 28px;
    margin-top: 6px;
    color: #dc3545;
}

.group-form .btn-login {
    width: 85%;
    margin: 15px 0 0;
    padding: 12px 45px;
    background-color: var(--primaryColor);
    color: var(--secondColor);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var(--primaryColor);
    transition: var(--transition-4);
    -webkit-transition: var(--transition-4);
    -moz-transition: var(--transition-4);
    -ms-transition: var(--transition-4);
    -o-transition: var(--transition-4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.group-form .btn-login:hover {
    background-color: var(--secondColor);
    color: var(--primaryColor);
}

div.footer {
    font-size: 14px;
    font-weight: 300;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/* Right Side */
.right-side {
    width: 50%;
    background-color: #c3ecff;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.outer-circle {
    width: 80%;
    height: 70%;
    position: absolute;
    background-color: var(--outerCircle);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.inner-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--primaryColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.outer-circle-top {
    top: -100px;
    right: -100px;
}

.inner-circle-top {
    top: -10px;
    left: 0px;
}

.outer-circle-bottom {
    bottom: -180px;
    left: -180px;
}

.inner-circle-bottom {
    bottom: -10px;
    left: 0px;
}

.glass-effect {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.right-side img {
    z-index: 2;
}
